# Enviroment variables
.env
restaurante/.env

# Node.js
frontend/node_modules/
frontend/build/
frontend/dist/

# Java / Spring Boot
restaurante/target/
*.class

# Arquivos de configurao locais
restaurante/src/main/resources/application.yml

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
